[Unit]
Description=OOM-killer alternative
After=network.target

[Service]
Type=simple
User=alex
ExecStart=/opt/killer/killer.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

